body,tbody{
    width: 500px;
    height: 424px;
}
table{
    margin-left: 38px;
    table-layout: fixed;
    box-sizing: border-box;
}
tr{  
    height: 20px;
}
button{
    border-radius: 20px;
    border: 0px;
    padding: 6px;
    padding-left: 9px;
    padding-right: 9px;
}
td{
    width: 500px;
}
#cancelbtn{
    margin-right: 40px;
    margin-left: 9px;
    background-color: #FF8787;
    margin-bottom: 43px;
}
input[type="checkbox"] + label {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid #BCE29E;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 5px;
}
input[type="checkbox"]:checked + label::after{
    content:"✔";
    color:#BCE29E;
    font-size: 20px;
    padding-bottom: 5px;
    padding-left: 7px;
    position: absolute;
}
input[type="checkbox"] {
    display: none;
}
#date{
    margin-left: 5px;
    font-size: 18px;
}
#datediv{
    display: inline-block;
    margin-left: 10px;
}
hr{
    margin-top: 4px;
    width: 279px;
    background:#BCE29E;
    height:2px;
    border:0;
}