body{
    background-repeat : no-repeat;
    background-size : 1900px 900px ;
}
#datebox{
    width: 714px;
    height: 60px;
    border-radius: 10px;
    border:3px solid #9F8473;
    background-color:#F4E3CC ;
    text-align: center;
    margin-top: 50px;
    margin-left: 650px;
    margin-bottom: 125px;
    color: #9F8473;
    font-weight: bold;
}
#date{
    margin-top: 15px;
    width: 207px;
    height: 29px;
    background-color: #F4E3CC;
    border: 1px solid #9F8473; 
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
    color: #9F8473;
}
#date:focus{
    outline:1.5px solid #9F8473;
}
#lbox{
    position: absolute;
    /* z-index: 3; */
    width: 30px;
    height: 805px;
    border-radius: 20px;
    border: 0px;
    rotate: 45deg;
    background-color: #E5EBB2;
    margin-left: 318px;
    margin-top: -80px;
}
#makemeeting{
    position: absolute;    
    z-index: 2;
    width: 206px;
    height: 87px;
    border-radius: 150px;
    border: 0px;
    background-color: #E5EBB2;
    text-align: center;
    font-size: 46px;
    -webkit-text-stroke: 1px #BCE29E;
    margin-left: 1550px;
}
span{
    color: #FFFFFF;
}
#tbox{
    position: absolute;
    width: 1000px;
    height: 30px;
    border-radius: 20px;
    border: 0px;
    background-color: #E5EBB2;;
    margin-left: 595px;
    margin-top: 30px;
    float: center;
    margin-bottom: 300px;
}
#dbox{
    position: absolute;
    width: 1495px;
    height: 30px;
    border-radius: 20px;
    border: 0px;
    background-color: #E5EBB2;;
    margin-left: 175px;
    margin-top: 450px;
}
#rbox{
    position:absolute;
    width: 30px;
    height: 410px;
    border-radius: 20px;
    border: 0px;
    rotate: 180deg;
    background-color: #E5EBB2;
    margin-top: 65px;
    margin-left: 1640px;
}
input[class="cb"] + label{ 
    position: absolute;
    z-index: 1;
	display: inline-block;
	width: 35px;
	height: 35px;
    border-radius: 50px;
	border: 7px solid #E5EBB2;
    background-color: #FCFFE3;
	cursor: pointer;
}
input[class="cb"]:checked + label {
	background-color: #BCE29E;
}
input[class="cb"] {
	display: none;
}
input[id="cb1"] + label{ 
    margin-top: 20px;
    margin-left: 1100px;
}
#p1{
    margin-top: 80px;
    margin-left: 1100px;
    position: absolute;
}
input[id="cb2"] + label{ 
    margin-top: 20px;
    margin-left: 850px;
}
#p2{
    margin-top: 80px;
    margin-left: 850px;
    position: absolute;
}
input[id="cb3"] + label{ 
    margin-top: 25px;
    margin-left: 590px;
}
#p3{
    margin-top: 80px;
    margin-left: 610px;
    position: absolute;
}
input[id="cb4"] + label{ 
    margin-top: 20px;
    margin-left: 1350px;
}
#p4{
    margin-top: 80px;
    margin-left: 1350px;
    position: absolute;
}
input[id="cb5"] + label{ 
    margin-top: 440px;
    margin-left: 840px;
}
#p5{
    margin-top: 510px;
    margin-left: 840px;
    position: absolute;
}
input[id="cb6"] + label{ 
    margin-top: 440px;
    margin-left: 570px;
}
#p6{
    margin-top: 510px;
    margin-left: 570px;
    position: absolute;
}
input[id="cb7"] + label{ 
    margin-top: 440px;
    margin-left: 1100px;
}
#p7{
    margin-top: 510px;
    margin-left: 1100px;
    position: absolute;
}
input[id="cb8"] + label{ 
    margin-top: 440px;
    margin-left: 1360px;
}
#p8{
    margin-top: 510px;
    margin-left: 1360px;
    position: absolute;
}
input[id="cb9"] + label{ 
    margin-top: 435px;
    margin-left: 1625px;
}
#p9{
    margin-top: 500px;
    margin-left: 1630px;
    position: absolute;
}
input[id="cb10"] + label{ 
    margin-top: 200px;
    margin-left: 405px;
}
#p10{
    margin-top: 220px;
    margin-left: 470px;
    position: absolute;
}