<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href = "css/edit.css">
        <script src="js/edit.js"></script>
    </head>
    <body>
        <form id="formm" name="editt" method="post" >
            <!--{% csrf_token %}-->
            <div>
                <div id="center">
                    <p><input type="date" name="date" id="date"></p>
                    <div>
                        <p><input type="radio" name="team" id="single" value="개인" required> 개인
                            <input type="radio" name="team" id="team" value="팀" onclick="checkActive()" required> 팀
                            <select name="teamSelect" id="teamSelect" disabled>
                                <!--{% for t in teams %}-->
                                    <option value="{{t.pk}}">{{t.team_name}}</option>
                                <!--{% endfor %}-->
                            </select>
                        </p>
                    </div>
                    <p>시각입력<br><input id="time1" name="time1" type="time" > ~ <input id="time2" name="time2" type="time"></p>
                    <p id="titletext">제목</p>
                    <p><input type="text" id="title" name="title" required></p>
                </div>
            </div>
        </form>
            <button type="submit" id="sub_btn" onclick="goSubmit()">저장</button>
            <button id="cancel" onclick="window.close()">취소</button>
    </body>
</html>