html{
	background-color:#E5EBB2;
}

#teamname{
	position:absolute;
	width: 533px;
	height: 60px;
	left: 474px;
	top: 98px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 36px;

	text-align:center;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	border:0;
}

#input-button{
	position:absolute;
	width: 124px;
	height: 60px;
	left: 1031px;
	top: 98px;
	
	text-align: center;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	color: #000000;

	border:0;
	background: #BCE29E;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
}

#uplus{
	position:absolute;
	width: 533px;
	height: 60px;
	left: 474px;
	top: 198px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 36px;

	text-align:center;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	border:0;
}

#plus-button{
	position:absolute;
	width: 124px;
	height: 60px;
	left: 1031px;
	top: 198px;
	
	text-align: center;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	color: #000000;

	border:0;
	background: #BCE29E;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
}

div.list{
	position:absolute;
	width: 943px;
	height: 482px;
	left: 345px;
	top: 312px;

	background: #F8C4B4;
	border-radius: 20px;
}

#userplus-list
{
	position: absolute;
	width: 300px;
	height: 36px;
	left: 60px;
	top: 36px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	
	color: #000000;
}

#pl1{
	position: absolute;

	width: 501px;
	height: 52px;
	left: 173px;
	top: 101px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 36px;
	text-align: center;

	background: #FFFFFF;
	border:0;
	color:#000000;
}

#dbtn1{
	position:absolute;
	width: 117px;
	height: 44px;
	left: 704px;
	top: 101px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
	color: #000000;

	background: #FF8787;
	border-radius: 20px;
	border:0;

}

#pl2{
	position: absolute;

	width: 501px;
	height: 52px;
	left: 173px;
	top: 182px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	
	background: #FFFFFF;
	border:0;
	color:#000000;
}

#dbtn2{
	position:absolute;
	width: 117px;
	height: 44px;
	left: 704px;
	top: 182px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
	color: #000000;

	background: #FF8787;
	border-radius: 20px;
	border:0;
}

#pl3{
	position: absolute;

	width: 501px;
	height: 52px;
	left: 173px;
	top: 263px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	
	background: #FFFFFF;
	border:0;
	color:#000000;
}

#dbtn3{
	position:absolute;
	width: 117px;
	height: 44px;
	left: 704px;
	top: 263px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
	color: #000000;

	background: #FF8787;
	border-radius: 20px;
	border:0;
}

#pl4{
	position: absolute;

	width: 501px;
	height: 52px;
	left: 173px;
	top: 344px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	
	background: #FFFFFF;
	border:0;
	color:#000000;
}

#dbtn4{
	position:absolute;
	width: 117px;
	height: 44px;
	left: 704px;
	top: 344px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
	color: #000000;

	background: #FF8787;
	border-radius: 20px;
	border:0;
}

#close-button{
	position: absolute;
	width: 117px;
	height: 44px;
	left: 1237px;
	top: 830px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
	
	color: #000000;
	background: #FF8787;
	border-radius: 20px;
	border:0;
}

textarea{
	resize:none;
}

textarea:focus{
	outline: 2px solid #FF8787;
}

#teamname:focus,#uplus:focus{
	outline:2px solid #BCE29E
}